[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
beanie = "*"
qrcode = {extras = ["pil"], version = "*"}
fastapi-utils = "*"
pydantic = {extras = ["email"], version = "*"}
pytz = "*"
aioredis = "*"
gunicorn = "*"

[scripts]
debug = "python -m uvicorn app:app --reload"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
